<mat-card>
    <mat-list role="list">
        <mat-list-item *ngFor="let unit of units">
            <span class="spacer">{{unit.name}}</span>
            <button class="dialog-btn" mat-stroked-button color="primary" (click)="openUsersDialog(unit.id)">מאשרים נוספים</button>
            <mat-form-field>
                <mat-label>דרגות מאשרות</mat-label>
                <mat-select multiple (selectionChange)="ranksChanged($event, unit.id)" [(ngModel)]="unit.approvers">
                    <mat-select-trigger>
                        {{unit.approvers ? unit.approvers[0] : ''}}
                        <span *ngIf="unit.approvers?.length > 1" class="additional-selection">
                            (+{{unit.approvers.length - 1}} {{unit.approvers?.length === 2 ? 'נוסף' : 'נוספים'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let rank of ranks" [value]="rank" check="true">{{rank}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
    </mat-list>
</mat-card>