<div *ngIf="requests && requests.length; else noRequests">
    <mat-accordion class="headers-align">
        <mat-expansion-panel *ngFor="let request of requests" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{request.id}} {{request.from}}
                </mat-panel-title>
                <mat-panel-description [ngSwitch]="request.status">
                    <span>{{request.unit}}</span>
                    <span>{{request.createdAt | date: 'dd/MM/yyyy'}}</span>
                    <span>{{request.classification}}</span>
                    <mat-icon *ngSwitchCase="'APPROVED'">check</mat-icon>
                    <mat-icon *ngSwitchCase="'DENIED'">clear</mat-icon>
                    <mat-icon *ngSwitchCase="'PENDING'">access_time</mat-icon>
                    <mat-icon *ngSwitchCase="'WAITING_FOR_INFO'">info</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <dl *ngIf="request.info">
                    <dt>תיאור הבקשה</dt>
                    <dd>{{request.info}}</dd>
                </dl>
                <dl *ngIf="request.to && request.to.length">
                    <dt>עבור</dt>
                    <dd>
                        <mat-chip-list>
                            <mat-chip *ngFor="let user of request.to">{{user.name}}</mat-chip>
                        </mat-chip-list>
                    </dd>
                </dl>
            </div>
            <mat-action-row align="end" *ngIf="request.status !== 'APPROVED' && request.status !== 'DENIED'">
                <button mat-button (click)="approveRequest(request.id)" color="primary">אשר</button>
                <button mat-button (click)="denyRequest(request.id)" color="warn">דחה</button>
                <button mat-button>פרטים נוספים</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<ng-template #noRequests>
    <mat-spinner class="center" *ngIf="!requests" diameter="25"></mat-spinner>
    <span *ngIf="requests">לא נמצאו בקשות מתאימות</span>
</ng-template>